
body {
	width: 1000px;
	font-family: 'VT323', monospace;
	background-color: black;
	color: #50D85D;
}

h1 {
	font-size: 34px;
	margin: 5px;
}

h2 {
	font-size: 28px;
	margin: 5px;
}

#head {
	text-align: center;
	margin-bottom: 30px;
}
#images {
	width: 50%;
	float: left;
	text-align: center;
}
#text {
	width: 50%;
	float: right;
	text-align: center;
	line-height: 30px;
}
#box1 {
	/*border: 1px solid black;*/
}
#box2 {
	/*border: 1px solid black;*/
}
#box3 {
	/*border: 1px solid black;*/
}